#container{
    width: 70%;
    height:700px;
    margin-top: 6%;
    float: left;

}

#right{

    margin-top: 6%; /*6%*/
    width: 30%;height: 700px;
    background-color: wheat;
    float:right;
    overflow: auto;
}
