<html>
<head>
    <title>足迹地图</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/controller/mapController.js"></script>
    <link rel="stylesheet"  href="/css/map.css">

    <!--这里的key需要自己去申请-->
    <script src="https://webapi.amap.com/maps?v=1.4.8&key=e259cf258f092d5d57b98833ae85c33f&plugin=AMap.ControlBar"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
    <script src="/js/echarts-extension-amap.min.js"></script>
    <!-- 引入最新版的echarts CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <!-- 引入最新版的echarts-extension-amap 高德地图扩展库 CDN -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-extension-amap/dist/echarts-extension-amap.min.js"></script>

    <!--blooria-->
    <link rel="stylesheet" href="/blooria/assets/css/base-style.css">
    <link rel="stylesheet" href="/blooria/assets/css/style.css">
    <script src="/blooria/assets/js/dark-light.js"></script>
</head>

<body  ng-app="myMap" class="placeholder" ng-controller="photoCtr">
<div class="loader-wrapper">
    <div class="count"></div>
    <div class="loader"></div>
    <div class="loader2"></div>
</div>
<header class="header-area ">
    <div class="container">
        <div class="header-wrapper d-flex align-items-center justify-content-between">
            <!--header-logo-->
            <div class="header-logo">
                <a href="/map/map.html">FootMap</a>
            </div>
            <!-- menu-bar -->
            <div class="menu-bar">
                <ul class="d-flex align-items-center justify-content-between">
                    <li><a href="/map/map.html">Home</a></li>
                    <li><a href="/map/story.html">Visit</a></li>
                    <li><a href="/map/mystory.html">Story</a></li>
                    <li><a href="/map/record.html">Record</a></li>
                </ul>
            </div>
            <!-- sign-in area -->
            <div class="sign-in-area">
                <ul class="d-flex align-items-center justify-content-between">
                    <li class="popup"><img src="/blooria/assets/img/svg/search.svg" alt=""></li>
                    <li class="dark-light"><img src="/blooria/assets/img/svg/dark-light.svg" alt=""></li>
                    <li class="sign-click relative">
                        <!-- sign-in dropdawn -->
                        <a href="/logout">
                            Sign out
                        </a>
                    </li>
                    <li>
                        <!--mobile menu icon-->
                        <div class="menu-toggole">
                            <span class="menu-show comon-tab">
                                <img src="/blooria/assets/img/svg/toggle.svg" alt="">
                            </span>
                            <span class="menu-close comon-tab">
                                <img src="/blooria/assets/img/svg/close.svg" alt="">
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- menu search popup -->
    <div class="search-popup-area">
        <div class="search-option">
            <div class="search-box">
                <img src="/blooria/assets/img/svg/search.svg" alt="">
                <input id="search" name="search" type="text" data-list=".data-list" placeholder="Type your keywords...">
            </div>
            <div class="data-list-wrapper">
                <ul class="data-list">
                    <li>
                        <a href="">
                            <div class="search-content">
                                <div class="search-title">
                                    <h4>Ingredients to look for in skin care products <span>April 30, 2019</span></h4>
                                </div>
                                <p>Read our top seven health benefits of fishing to learn why, whether you're a match angler or a weekend hobbyist.</p>
                            </div>
                            <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="search-content">
                                <div class="search-title">
                                    <h4>Sky Parachute Adventure <span>April 25, 2019</span></h4>
                                </div>
                                <p>Muay Thai (Thai boxing) is the most popular contact sport in Thailand, and a pillar of Thai culture, so much so that for years the Thai government has been asking, unsuccessfully, for it to be included as an Olympic sport. </p>
                            </div>
                            <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="search-content">
                                <div class="search-title">
                                    <h4>Small boy and girl on road<span>April 18, 2019</span></h4>
                                </div>
                                <p>Many parents are tired of the pink and blue divide in the toy aisles. Just last month, the White House held a conference in toys and media, with many toy manufacturers and experts attending. After feedback, Target announced in 2015 that it would get rid of signs labeling toys for boys or for girls</p>
                            </div>
                            <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="search-content">
                                <div class="search-title">
                                    <h4>Colorful women digital art face<span>April 21, 2019</span></h4>
                                </div>
                                <p>The first thing I do before starting an illustration is to browse through my folder of inspiration. Inside are plenty of sub-folders, containing images of lighting, faces, human figures, clothing, illustrations from my favourite artists, animals, caterpillars, flowers and plenty more besides.</p>
                            </div>
                            <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="popup-close-icon">
            <img src="/blooria/assets/img/svg/close-icon.svg" alt="">
        </div>
    </div>
</header>



<div id="container"></div>


<div class="col-lg-4 mb-50" style="float: right;width: 30%;margin-top: 6%;height: 700px;overflow: auto">
    <div class="side-bar-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-7">
                <div class="latest-post">
                    <h4>{{cityname}}</h4>
                    <div class="latest-single-post" ng-repeat="item in photos">
                        <div class="latest-single-img">
                            <img src="{{item.imgList[0]}}" height="80px" alt="">
                        </div>
                        <div class="latest-single-content">
                            <div class="latext-scontent-title">
                                <h5>Travel</h5>
                                <span>{{item.stime}}</span>
                            </div>
                            <div class="latext-scontent">
                                <h4><a ng-click="detail(item.id)">{{item.simcon}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pro-add" style="background-image:url(assets/img/sidebar-img/promotion-add.jpg)">
                    <button class="btn btn-white btn-radious-6" onclick="window.location='/map/record.html'">添加故事</button>
                    <img src="/blooria/assets/img/svg/circle-shape.svg" alt="">
                </div>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-5">
                <div class="categories-area">
                    <h4>城市</h4>
                    <ul>
                        <li ng-repeat="item in citys"><a href="#" ng-click="changeCity(item.city)">{{item.city}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<form>
    开始时间:<input type="date" value="2000-01-01" id="start"/>
    结束时间:<input type="date" id="today" />
    <button class="btn btn-white btn-radious-6" ng-click="refresh()">预览</button>
</form>
<script>
    var photos=[];
    function getQueryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        };
        return null;
    }
    var start = getQueryString("start");
    if(start == null) start =0;
    var end = getQueryString("end");
    if(end == null) end = 999999999999999;
    console.log(start+" "+end);
    $.ajax({
        type:"GET",
        url:"/photo/review?start="+start+"&end="+end,
        datatype:"json",
        async:false,
        success:function (data){
            photos=data;
        }
    });
</script>
<script type="text/javascript">
    console.log("end=="+end);
    if(parseInt(end) == parseInt(999999999999999)) {
        var ddd = new Date();
        var day =ddd.getDate();
        if(ddd.getMonth()<10){
            var month = "0"+(ddd.getMonth()+1);
        }
        if(ddd.getDate()<10){
            day = "0"+ddd.getDate();
        }
        var datew = ddd.getFullYear()+"-"+month+"-"+day;
        var datew = datew.toString();

        $("#today").val(datew);
    } else {
        var ddd = new Date(parseInt(end));
        var day =ddd.getDate();
        if(ddd.getMonth()<10){
            var month = "0"+(ddd.getMonth()+1);
        }
        if(ddd.getDate()<10){
            day = "0"+ddd.getDate();
        }
        var datew = ddd.getFullYear()+"-"+month+"-"+day;
        var datew = datew.toString();

        $("#today").val((datew).toString());
    }
    //start时间
    if(parseInt(start)==parseInt(0)){
        $("#start").val(("2000-01-01").toString());
    }else{
        var ddd = new Date(parseInt(start));
        var day =ddd.getDate();
        if(ddd.getMonth()<10){
            var month = "0"+(ddd.getMonth()+1);
        }
        if(ddd.getDate()<10){
            day = "0"+ddd.getDate();
        }
        var datew = ddd.getFullYear()+"-"+month+"-"+day;
        var datew = datew.toString();

        $("#start").val((datew).toString());

    }


</script>
s

<script type="text/javascript">
    $(function () {
        var myChart = echarts.init(document.getElementById('container'));
        var photo_temp=[];
        var cnt=0;
        for(var i=0;i<photos.length;i++) {
            var time=photos[i].time;
            if(parseInt(time)>=parseInt(start) && parseInt(time) <= parseInt(end)) {
                photo_temp[cnt]=photos[i];
                cnt++;
            }
        }
        photos=photo_temp;
        var BJData=[];
        for(var i=1;i<photos.length;i++){
            var temp=[];
            var a={},b={};
            a['name']=photos[i-1].city;
            b['name']=photos[i].city;
            b['value']=80;
            temp.push(a);
            temp.push(b);
            BJData.push(temp);
        }
        //城市经纬度
        var geoCoordMap = {
            '海门市':[121.15,31.89],
            '鄂尔多斯市':[109.781327,39.608266],
            '招远市':[120.38,37.35],
            '舟山市':[122.207216,29.985295],
            '齐齐哈尔市':[123.97,47.33],
            '盐城市':[120.13,33.38],
            '赤峰市':[118.87,42.28],
            '青岛市':[120.33,36.07],
            '乳山市':[121.52,36.89],
            '金昌市':[102.188043,38.520089],
            '泉州市':[118.58,24.93],
            '莱西市':[120.53,36.86],
            '日照市':[119.46,35.42],
            '胶南市':[119.97,35.88],
            '南通市':[121.05,32.08],
            '拉萨市':[91.11,29.97],
            '云浮市':[112.02,22.93],
            '梅州市':[116.1,24.55],
            '文登市':[122.05,37.2],
            '上海市':[121.48,31.22],
            '攀枝花市':[101.718637,26.582347],
            '威海市':[122.1,37.5],
            '承德市':[117.93,40.97],
            '厦门市':[118.1,24.46],
            '汕尾市':[115.375279,22.786211],
            '潮州市':[116.63,23.68],
            '丹东市':[124.37,40.13],
            '太仓市':[121.1,31.45],
            '曲靖市':[103.79,25.51],
            '烟台市':[121.39,37.52],
            '福州市':[119.3,26.08],
            '瓦房店市':[121.979603,39.627114],
            '即墨市':[120.45,36.38],
            '抚顺市':[123.97,41.97],
            '玉溪市':[102.52,24.35],
            '张家口市':[114.87,40.82],
            '阳泉市':[113.57,37.85],
            '莱州市':[119.942327,37.177017],
            '湖州市':[120.1,30.86],
            '汕头市':[116.69,23.39],
            '昆山市':[120.95,31.39],
            '宁波市':[121.56,29.86],
            '湛江市':[110.359377,21.270708],
            '揭阳市':[116.35,23.55],
            '荣成市':[122.41,37.16],
            '连云港市':[119.16,34.59],
            '葫芦岛市':[120.836932,40.711052],
            '常熟市':[120.74,31.64],
            '东莞市':[113.75,23.04],
            '河源市':[114.68,23.73],
            '淮安市':[119.15,33.5],
            '泰州市':[119.9,32.49],
            '南宁市':[108.33,22.84],
            '营口市':[122.18,40.65],
            '惠州市':[114.4,23.09],
            '江阴市':[120.26,31.91],
            '蓬莱市':[120.75,37.8],
            '韶关市':[113.62,24.84],
            '嘉峪关市':[98.289152,39.77313],
            '广州市':[113.23,23.16],
            '延安市':[109.47,36.6],
            '太原市':[112.53,37.87],
            '清远市':[113.01,23.7],
            '中山市':[113.38,22.52],
            '昆明市':[102.73,25.04],
            '寿光市':[118.73,36.86],
            '盘锦市':[122.070714,41.119997],
            '长治市':[113.08,36.18],
            '深圳市':[114.07,22.62],
            '珠海市':[113.52,22.3],
            '宿迁市':[118.3,33.96],
            '咸阳市':[108.72,34.36],
            '铜川市':[109.11,35.09],
            '平度市':[119.97,36.77],
            '佛山市':[113.11,23.05],
            '海口市':[110.35,20.02],
            '江门市':[113.06,22.61],
            '章丘市':[117.53,36.72],
            '肇庆市':[112.44,23.05],
            '大连市':[121.62,38.92],
            '临汾市':[111.5,36.08],
            '吴江市':[120.63,31.16],
            '石嘴山市':[106.39,39.04],
            '沈阳市':[123.38,41.8],
            '苏州市':[120.62,31.32],
            '茂名市':[110.88,21.68],
            '嘉兴市':[120.76,30.77],
            '长春市':[125.35,43.88],
            '胶州市':[120.03336,36.264622],
            '银川市':[106.27,38.47],
            '张家港市':[120.555821,31.875428],
            '三门峡市':[111.19,34.76],
            '锦州市':[121.15,41.13],
            '南昌市':[115.89,28.68],
            '柳州市':[109.4,24.33],
            '三亚市':[109.511909,18.252847],
            '自贡市':[104.778442,29.33903],
            '吉林市':[126.57,43.87],
            '阳江市':[111.95,21.85],
            '泸州市':[105.39,28.91],
            '西宁市':[101.74,36.56],
            '宜宾市':[104.56,29.77],
            '呼和浩特市':[111.65,40.82],
            '成都市':[104.06,30.67],
            '大同市':[113.3,40.12],
            '镇江市':[119.44,32.2],
            '桂林市':[110.28,25.29],
            '张家界市':[110.479191,29.117096],
            '宜兴市':[119.82,31.36],
            '北海市':[109.12,21.49],
            '西安市':[108.95,34.27],
            '金坛市':[119.56,31.74],
            '东营市':[118.49,37.46],
            '牡丹江市':[129.58,44.6],
            '遵义市':[106.9,27.7],
            '绍兴市':[120.58,30.01],
            '扬州市':[119.42,32.39],
            '常州市':[119.95,31.79],
            '潍坊市':[119.1,36.62],
            '重庆市':[106.54,29.59],
            '台州市':[121.420757,28.656386],
            '南京市':[118.78,32.04],
            '滨州市':[118.03,37.36],
            '贵阳市':[106.71,26.57],
            '无锡市':[120.29,31.59],
            '本溪市':[123.73,41.3],
            '克拉玛依市':[84.77,45.59],
            '渭南市':[109.5,34.52],
            '马鞍山市':[118.48,31.56],
            '宝鸡市':[107.15,34.38],
            '焦作市':[113.21,35.24],
            '句容市':[119.16,31.95],
            '北京市':[116.46,39.92],
            '徐州市':[117.2,34.26],
            '衡水市':[115.72,37.72],
            '包头市':[110,40.58],
            '绵阳市':[104.73,31.48],
            '乌鲁木齐市':[87.68,43.77],
            '枣庄市':[117.57,34.86],
            '杭州市':[120.19,30.26],
            '淄博市':[118.05,36.78],
            '鞍山市':[122.85,41.12],
            '溧阳市':[119.48,31.43],
            '库尔勒市':[86.06,41.68],
            '安阳市':[114.35,36.1],
            '开封市':[114.35,34.79],
            '济南市':[117,36.65],
            '德阳市':[104.37,31.13],
            '温州市':[120.65,28.01],
            '九江市':[115.97,29.71],
            '邯郸市':[114.47,36.6],
            '临安市':[119.72,30.23],
            '兰州市':[103.73,36.03],
            '沧州市':[116.83,38.33],
            '临沂市':[118.35,35.05],
            '南充市':[106.110698,30.837793],
            '天津市':[117.2,39.13],
            '富阳市':[119.95,30.07],
            '泰安市':[117.13,36.18],
            '诸暨市':[120.23,29.71],
            '郑州市':[113.65,34.76],
            '哈尔滨市':[126.63,45.75],
            '聊城市':[115.97,36.45],
            '芜湖市':[118.38,31.33],
            '唐山市':[118.02,39.63],
            '平顶山市':[113.29,33.75],
            '邢台市':[114.48,37.05],
            '德州市':[116.29,37.45],
            '济宁市':[116.59,35.38],
            '荆州市':[112.239741,30.335165],
            '宜昌市':[111.3,30.7],
            '义乌市':[120.06,29.32],
            '丽水市':[119.92,28.45],
            '洛阳市':[112.44,34.7],
            '秦皇岛市':[119.57,39.95],
            '株洲市':[113.16,27.83],
            '石家庄市':[114.48,38.03],
            '莱芜市':[117.67,36.19],
            '常德市':[111.69,29.05],
            '保定市':[115.48,38.85],
            '湘潭市':[112.91,27.87],
            '金华市':[119.64,29.12],
            '岳阳市':[113.09,29.37],
            '长沙市':[113,28.21],
            '衢州市':[118.88,28.97],
            '廊坊市':[116.7,39.53],
            '菏泽市':[115.480656,35.23375],
            '合肥市':[117.27,31.86],
            '武汉市':[114.31,30.52],
            '大庆市':[125.03,46.58],
            '大兴安岭地区':[121.12,52.15],
            '佳木斯市':[131.15,46.50],
            '喀什地区':[75.57,38.20]
        };


        var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';

        //数据转换
        var convertData = function (data) {
            var res = [];
            //离开和到达城市的经纬度
            for (var i = 0; i < data.length; i++) {
                var dataItem = data[i];
                var fromCoord = geoCoordMap[dataItem[0].name];
                var toCoord = geoCoordMap[dataItem[1].name];
                if(typeof(fromCoord)=="undefined"||typeof(toCoord)=="undefined"){
                    continue;
                }
                if (fromCoord && toCoord) {
                    res.push({
                        fromName: dataItem[0].name,
                        toName: dataItem[1].name,
                        coords: [fromCoord, toCoord]
                    });
                }
            }
            return res;
        };
        var convertData1 = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {

                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        }

        //第二层数据
        var data1 = [];
        for(var i=0;i<photos.length;i++) {
            var temp={
                name:photos[i].city,
                value:140
            };
            data1.push(temp);
        }

        //航线颜色
        var color = ['#a6c84c', '#ffa022', '#46bee9'];
        var series = [];
        var a=["北京",BJData];
        var dataList=[];
        dataList.push(a);
        var startPoint = {
            x: 104.114129,
            y: 37.550339
        };
        myChart.setOption({
            //背景颜色
            //backgroundColor: '#404a59',
            //标记点的颜色
            color: ['#a6c84c'],
            title: {
                text: '点亮的城市',
                subtext: '去过的地方',
                left: 'center',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip : {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                top: 'bottom',
                left: 'right',
                textStyle: {
                    color: '#fff'
                },
                selectedMode: 'single'
            },

            amap: {
                maxPitch: 60,
                pitch: 10, //45 俯仰角
                viewMode: '3D',
                zoom: 4,
                expandZoomRange: true,
                zooms: [3, 20],
                mapStyle: 'amap://styles/darkblue', //地图主题
                center: [110, 33], //中心点
                rotation: 0,  //顺时针旋转角度
                resizeEnable: true,
            },

            animation: false,
            series: []
        });

        //上面的部分是echarts的配置，需要注意的是amap，这里的配置就是针对 高德地图 的配置了，而支持哪些配置
        //可以去高德地图的开发平台去查看

        var map = myChart.getModel().getComponent('amap').getAMap();
        //var layer = myChart.getModel().getComponent('amap').getLayer();

        AMap.plugin(["AMap.ControlBar"], function () {
            var bar = new AMap.ControlBar();
            map.addControl(bar);
        })

        AMap.plugin(["AMap.ToolBar"], function () {
            map.addControl(new AMap.ToolBar());
        });

        AMap.event.addListener(map, 'zoomend', function () {
            console.log('当前缩放级别：' + map.getZoom());
        });


        //航线数据
        series = [];
        for(var i=0;i<1;i++) {
            var item=dataList[i];
            series.push({
                    silent:true,
                    name: "城市",
                    type: 'lines',
                    zlevel: 1,
                    coordinateSystem: "amap",
                    //线特效的配置
                    effect: {
                        //是否显示
                        show: true,
                        //特效动画时间
                        period: 6,
                        //特效尾迹长度
                        trailLength: 0.7,
                        //特效标记颜色
                        color: '#fff',
                        //特效标记大小
                        symbolSize: 3
                    },
                    lineStyle: {
                        normal: {
                            color: color[i],
                            width: 0,
                            //边的曲度
                            curveness: 0.2
                        }
                    },
                    //获取数据列表
                    data: convertData(item[1])
                },
                {
                    silent:true,
                    name: "城市",
                    type: 'lines',
                    coordinateSystem: "amap",
                    //大的level值会在小的上面
                    zlevel: 2,
                    //线两端的类型 空 箭头
                    symbol: ['none', 'arrow'],
                    symbolSize: 10,
                    effect: {
                        show: true,
                        period: 6,
                        trailLength: 0,
                        symbol: planePath,
                        symbolSize: 15
                    },
                    lineStyle: {
                        color: color[i],
                        width: 1,
                        opacity: 0.6,
                        curveness: 0.2
                    },
                    data: convertData(item[1])
                },
                {
                    //带有涟漪特效的散点图
                    silent:true,
                    name: "城市",
                    coordinateSystem: "amap",
                    type: 'effectScatter',
                    zlevel: 2,
                    //涟漪相关配置
                    rippleEffect: {
                        //波纹的绘制方式
                        brushType: 'stroke'
                    },
                    label: {
                        show: true,
                        position: 'right',
                        formatter: '{b}'
                    },
                    symbolSize: function (val) {
                        return val[2] / 8;
                    },
                    //散点大小
                    itemStyle: {
                        color: color[i]
                    },
                    data: item[1].map(function (dataItem) {
                        return {
                            name: "",
                            value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value.toString()])
                        };
                    })
                });
        };

        //单点图层
        series.push({
            itemStyle:{
                color:"#a6c84c"
            },
            name: '城市',
            type: 'effectScatter',
            coordinateSystem: "amap",
            data: convertData1(data1),
            symbolSize: function (val) {
                return val[2] / 10;
            },
            encode: {
                value: 2
            },
            showEffectOn: 'render',
            rippleEffect: {
                brushType: 'stroke'
            },
            hoverAnimation: true,
            label: {
                formatter: '{b}',
                position: 'right',
                show: true
            },
            itemStyle: {
                shadowBlur: 10,
                shadowColor: '#333'
            },
            zlevel: 10
        });
        //测试
        var startPoint = {
            x: 104.114129,
            y: 37.550339
        };

        myChart.setOption({
            series: series
        });
        myChart.on('click',function (param){
            if(param["componentType"]=="geo"){
                return;
            }
            var cityname=param["name"];
            var ctrl= document.querySelector('[ng-controller=photoCtr]');
            var $scope = angular.element(ctrl).scope();
            $scope.cityname=cityname;
            $scope.$apply();
            console.log(cityname);


        });
        myChart.on('mouseover',function (param){
            console.log("鼠标移动:"+param);
            if(param["componentType"]=="geo"){
                return;
            }
            var cityname=param["name"];
            var ctrl= document.querySelector('[ng-controller=photoCtr]');
            var $scope = angular.element(ctrl).scope();
            $scope.cityname=cityname;
            $scope.starttime=start;
            $scope.endtime=end;
            $scope.$apply();
            console.log(cityname);

        });

        //下面是确保高德地图渲染的时候，echarts同时也需要再次渲染一次，保持位置的同步
        layer.render = function () {

            myChart.setOption({
                series: series
            });
        }

    });

</script>
<!-- Jquery -->
<script src="/blooria/assets/js/default-js/jquery-3.3.1.min.js"></script>
<script src="/blooria/assets/js/default-js/jquery-migrate-1.4.1.min.js"></script>
<script src="/blooria/assets/js/default-js/popper.js"></script>
<script src="/blooria/assets/js/default-js/bootstrap.min.js"></script>
<!--searchbox js-->
<script src="/blooria/assets/js/plugin/jquery.hideseek.min.js"></script>
<!--isotop js-->
<script src="/blooria/assets/js/plugin/isotop-pakage-min.js"></script>
<!-- IMAGE LOADED JS -->
<script src="/blooria/assets/js/plugin/imagesloaded.pkgd.min.js"></script>
<!-- owl carousel -->
<script src="/blooria/assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>
<script src="/blooria/assets/js/plugin/owl-carousel/owl-custom.js"></script>
<!--video popup-->
<script src="/blooria/assets/js/plugin/youtube-overlay.js"></script>
<!-- highlight js -->
<script src="/blooria/assets/js/plugin/highlight.min.js"></script>

<!--nice-select js here-->
<script src="/blooria/assets/js/plugin/nice-select/jquery.nice-select.min.js"></script>
<script src="/blooria/assets/js/scripts.js"></script>
</body>
</html>