<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>足迹地图</title>
    
    <link rel="stylesheet" href="/blooria/assets/css/base-style.css">
    <link rel="stylesheet" href="/blooria/assets/css/style.css">
    <script src="/blooria/assets/js/dark-light.js"></script>
    <!--angularjs-->
    <script src="/js/angular.min.js"></script>
    <script src="/js/controller/story.js"></script>

    <script src="/js/info.js"></script>
</head>
<body class="placeholder" ng-app="myMap" ng-controller="storyCtrl">
    <div class="loader-wrapper">
        <div class="count"></div>
        <div class="loader"></div>
        <div class="loader2"></div>
    </div>
<!-- header area start from here-->
<header class="header-area ">
    <div class="container">
        <div class="header-wrapper d-flex align-items-center justify-content-between">
            <!--header-logo-->
            <div class="header-logo">
                <a href="index.html">FootMap</a>
            </div>
            <!-- menu-bar -->
            <div class="menu-bar">
                <ul class="d-flex align-items-center justify-content-between">
                    <li><a href="/map/map.html">Home</a></li>
                    <li><a href="/map/story.html">Visit</a></li>
                    <li><a href="/map/mystory.html">Story</a></li>
                    <li><a href="/map/record.html">Record</a></li>


                </ul>
            </div>

            <!-- sign-in area -->
            <div class="sign-in-area">
                <ul class="d-flex align-items-center justify-content-between">
                    <li class="popup"><img src="/blooria/assets/img/svg/search.svg" alt=""></li>
                    <li class="dark-light"><img src="/blooria/assets/img/svg/dark-light.svg" alt=""></li>
                    <li class="sign-click relative">Sign in
                        <!-- sign-in dropdawn -->
                        <div class="sign-in-card">
                            <h3>Welcome back.</h3>
                            <p>Sign in to get personalized story recommendations, ollow authors and topics you love, and interact with stories.</p>
                            <div class="input-group-icon radious-6 mb-30">
                                <input type="email" placeholder="Type your email...">
                                <img src="/blooria/assets/img/svg/mail-sign.svg" alt="">
                            </div>
                            <div class="sign-link">
                                <p>Don't have an account?</p>
                                <a href="#">Sign Up</a>
                            </div>
                        </div>
                    </li>
                    <li>
                         <!--mobile menu icon-->
                        <div class="menu-toggole">
                            <span class="menu-show comon-tab">
                                <img src="/blooria/assets/img/svg/toggle.svg" alt="">                
                            </span>
                            <span class="menu-close comon-tab">
                                <img src="/blooria/assets/img/svg/close.svg" alt="">            
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- menu search popup -->
    <div class="search-popup-area">
        <div class="search-option">
            <div class="search-box">
                <img src="/blooria/assets/img/svg/search.svg" alt="">
                <input id="search" name="search" type="text" data-list=".data-list" placeholder="Type your keywords...">
            </div>
            <div class="data-list-wrapper">
                <ul class="data-list">
                    <li>
                        <a href="">
                           <div class="search-content">
                                 <div class="search-title">
                                    <h4>Ingredients to look for in skin care products <span>April 30, 2019</span></h4>
                                </div>
                                <p>Read our top seven health benefits of fishing to learn why, whether you're a match angler or a weekend hobbyist.</p>
                           </div>
                           <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                           <div class="search-content">
                                 <div class="search-title">
                                    <h4>Sky Parachute Adventure <span>April 25, 2019</span></h4>
                                </div>
                                <p>Muay Thai (Thai boxing) is the most popular contact sport in Thailand, and a pillar of Thai culture, so much so that for years the Thai government has been asking, unsuccessfully, for it to be included as an Olympic sport. </p>
                           </div>
                           <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                           <div class="search-content">
                                 <div class="search-title">
                                    <h4>Small boy and girl on road<span>April 18, 2019</span></h4>
                                </div>
                                <p>Many parents are tired of the pink and blue divide in the toy aisles. Just last month, the White House held a conference in toys and media, with many toy manufacturers and experts attending. After feedback, Target announced in 2015 that it would get rid of signs labeling toys for boys or for girls</p>
                           </div>
                           <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                           <div class="search-content">
                                 <div class="search-title">
                                    <h4>Colorful women digital art face<span>April 21, 2019</span></h4>
                                </div>
                                <p>The first thing I do before starting an illustration is to browse through my folder of inspiration. Inside are plenty of sub-folders, containing images of lighting, faces, human figures, clothing, illustrations from my favourite artists, animals, caterpillars, flowers and plenty more besides.</p>
                           </div>
                           <img src="/blooria/assets/img/svg/arrow-left.svg" alt="">
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="popup-close-icon">
            <img src="/blooria/assets/img/svg/close-icon.svg" alt="">
        </div>
    </div>
</header>


<!-- all stories section start here -->
<section class="all-stories-area pt-100 pb-50">
    <div class="section-heading text-center">
        <h2>All Stories</h2>
    </div>
    <div class="container" >
        <!--下拉框-->
        <select ng-model="select_pro" ng-change="changePro(select_pro)">
            <option value="省份">省份</option>
            <!-- 利用js把省份添加到下拉列表里-->
            <option value="{{item[0]}}" data="{{$index}}" ng-repeat="item in provinceArr track by $index">{{item[0]}}</option>

        </select>
        <select ng-model="select_city" ng-disabled="select_city_dis" ng-change="changeCity(select_city)">
            <option value="城市">城市</option>
            <!-- 利用js把省份添加到下拉列表里-->
            <option value="{{item}}" ng-repeat="item in cityArr[select_pro_num] track by $index"  ng-if="$index>=1">{{item}}</option>

        </select>



        <div class="row grid" ng-repeat="item in story track by $index" ng-if="$index%3==0" style="margin-top: 50px">
            <div class="col-sm-6 col-lg-4 mb-30 grid-item" ng-if="$index<story.length" style="width: 500px;height: 400px">
                <div class="single-stories-card">
                    <div class="stories-card-img">
                        <img src="{{story[$index].imgList[0]}}" alt="" width="400px" height="300px">
                    </div>
                    <div class="stories-card-content">
                        <div class="sub-title-wrapper">
                            <h4 class="card-sub-title">
                                {{story[$index].province}}{{story[$index].city}}
                            </h4>
                            <h5 class="card-date">{{story[$index].stime}}</h5>
                        </div>
                        <h4 class="card-title"><a data-storyid="{{ story[$index].id }}" ng-click="detail(story[$index].id)">{{story[$index].title}}</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 mb-30 grid-item" ng-if="$index+1<story.length" style="width: 500px;height: 400px"  >
                <div class="single-stories-card">
                    <div class="stories-card-img">
                        <img src="{{story[$index+1].imgList[0]}}" alt="" width="400px" height="300px">
                    </div>
                    <div class="stories-card-content">
                        <div class="sub-title-wrapper">
                            <h4 class="card-sub-title">
                                {{story[$index+1].province}}{{story[$index+1].city}}
                            </h4>
                            <h5 class="card-date">{{story[$index+1].stime}}</h5>
                        </div>
                        <h4 class="card-title"><a data-storyid="{{ story[$index+1].id }}" ng-click="detail(story[$index+1].id)">{{story[$index+1].title}}</a></h4>
                    </div>
                </div>
            </div>

            <!--第三列-->
            <div class="col-sm-6 col-lg-4 mb-30 grid-item" ng-if="$index+2<story.length" style="width: 500px;height: 400px">
                <div class="single-stories-card">
                    <div class="stories-card-img">
                        <img src="{{story[$index+2].imgList[0]}}" alt="" width="400px" height="300px">
                    </div>
                    <div class="stories-card-content">
                        <div class="sub-title-wrapper">
                            <h4 class="card-sub-title">
                                {{story[$index+2].province}}{{story[$index+2].city}}
                            </h4>
                            <h5 class="card-date">{{story[$index+2].stime}}</h5>
                        </div>
                        <h4 class="card-title"><a data-storyid="{{ story[$index+2].id }}" ng-click="detail(story[$index+2].id)">{{story[$index+2].title}}</a></h4>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>



<!-- popular tag section start here -->
<section class="popular-tag-area py-100 py-md-60 section-bg">
    <div class="container">
        <div class="col-md-12">
            <div class="section-heading d-flex align-items-center justify-content-between">
                <h2>Citys</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30" ng-repeat="item in citys track by $index" ng-click="CityTagClick(item.city)">
                    <a href="#" class="popular-single-tag-wrapper" style="background-image:url({{item.imgList[0]}})" >
                        <div class="tag-title">{{item.city}}</div>
                        <div class="tag-card">{{$index+1}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subcribe section start here-->
<section class="subscribe-area ">
    <div class="container"></div>
</section>

<!--下拉框-->


<footer class="footer-area"></footer>
    <!-- Jquery -->
    <script src="/blooria/assets/js/default-js/jquery-3.3.1.min.js"></script>
    <script src="/blooria/assets/js/default-js/popper.js"></script>
    <script src="/blooria/assets/js/default-js/bootstrap.min.js"></script>
    <!--searchbox js-->
    <script src="/blooria/assets/js/plugin/jquery.hideseek.min.js"></script>
    <!--isotop js-->
    <script src="/blooria/assets/js/plugin/isotop-pakage-min.js"></script>
    <!-- IMAGE LOADED JS -->
    <script src="/blooria/assets/js/plugin/imagesloaded.pkgd.min.js"></script>
    <!-- owl carousel -->
    <script src="/blooria/assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>
    <script src="/blooria/assets/js/plugin/owl-carousel/owl-custom.js"></script>
    <!--video popup-->
    <script src="/blooria/assets/js/plugin/youtube-overlay.js"></script>
    <!-- highlight js -->
    <script src="/blooria/assets/js/plugin/highlight.min.js"></script>

    <!--nice-select js here-->
    <script src="/blooria/assets/js/plugin/nice-select/jquery.nice-select.min.js"></script>
    <script src="/blooria/assets/js/scripts.js"></script>
</body>
</html>
