<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Footmap</title>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=e259cf258f092d5d57b98833ae85c33f"></script>
    <script  type="text/javascript"></script>

    <style type="text/css">
        #container {
            width:100%; height: 800px;
            margin-left: 20%;
        }

    </style>

</head>
<body>
欢迎<h5 sec:authentication="name"></h5>
<a href="/logout">注销</a>
<div id="container"></div>
<script>
    //生成地图
    var map = new AMap.Map('container', {
        zoom:5,//级别
        center: [116.397428, 39.90923],//中心点坐标
        viewMode:'3D'//使用3D视图
    });
    //添加点标记
    var marker = new AMap.Marker({
        position:[116.39, 39.9]//位置
    })

    var marker1 = new AMap.Marker({
        position:[126.39, 39.9]//位置
    })
    map.add(marker);//添加到地图
    map.add(marker1);

    //添加折线
    //也提供了绘制圆Circle、折线 Polyline、多边形 Polygon、椭圆 Ellipse、矩形 Rectangle、贝瑟尔曲线 BesizerCurve等矢量图形的能力
    //
    var lineArr = [
        [116.368904, 39.913423],
        [116.382122, 39.901176],
        [116.387271, 39.912501],
        [116.398258, 39.904600]
    ];
    var polyline = new AMap.Polyline({
        path: lineArr,          //设置线覆盖物路径
        strokeColor: "#3366FF", //线颜色
        strokeWeight: 5,        //线宽
        strokeStyle: "solid",   //线样式
    });
    map.add(polyline);




</script>
</body>

</html>